@value v-brandColorPrimary, v-neutralWhite from 'theme/palette.css';
@value b-desktop from 'theme/breakpoints.css';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 24px 16px;
}

.subtitle {
  color: v-brandColorPrimary;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.container {
  width: 544px;
  max-width: 100%;
  text-align: center;
  background-color: v-neutralWhite;
  padding: 16px;
  margin: 24px auto;
}

@media b-desktop {
  .wrapper {
    min-height: calc(100vh - 166px);
  }

  .subtitle {
    text-align: left;
  }

  .container {
    padding: 32px;
  }
}
