@value v-blueGray400, v-blueGray900, v-brandColorPrimary, v-neutralWhite from 'theme/palette.css';
@value b-desktop from 'theme/breakpoints.css';

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto 32px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header img {
  max-width: max-content;
}

.message {
  padding-top: 24px;
}

.headingSmall {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: v-blueGray900;
}

.paragraph {
  line-height: 21px;
  color: v-blueGray400;
}

.semibold {
  font-weight: 600;
}

.button {
  color: v-brandColorPrimary;
  background-color: v-neutralWhite;
  border: 2px solid v-brandColorPrimary;
}

@media b-desktop {
  .header {
    flex-direction: row;
    text-align: left;
  }

  .resultContainer {
    margin-bottom: 35px;
  }

  .headingSmall {
    font-size: 24px;
    line-height: 28.8px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }
}
