.wrapper {
  padding: 24px 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  color: #001C95;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.form-container {
  width: 544px;
  max-width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding: 16px;
  margin: 24px auto;
}

.form-header {
  display: flex;
  flex-direction: column;
}

.form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 16px;
}

.heading-small {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1E2A32;
}

.paragraph {
  line-height: 21px;
  color: #708797
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
}

.input-container:first-of-type {
  margin-bottom: 16px;
}

.primary-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 320px;
  max-width: 100%;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;

  background-color: #001C95;
  border: none;
  border-radius: 32px;
}

@media screen and (min-width: 600px) {
  .container {
    min-height: calc(100vh - 182px);
  }

  .subtitle {
    text-align: left;
  }

  .form-container {
    padding: 32px;
  }

  .form-header {
    flex-direction: row;
    text-align: left;
  }

  .form-title {
    margin-top: 0;
    margin-left: 16px;
  }

  .heading-small {
    font-size: 24px;
    line-height: 28.8px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }

  .form-inputs {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0 32px;
  }

  .input-container {
    width: 232px;
  }

  .input-container:first-of-type {
    margin-bottom: 0;
    margin-right: 16px;
  }
}