@value v-blueGray50, v-blueGray600 from 'theme/palette.css';

.container {
  display: flex;
  flex-direction: column;
}

.label {
  color: v-blueGray600;
  text-align: left;
  line-height: 21px;
  margin-bottom: 4px;
}

.input {
  height: 56px;
  border: 1px solid v-blueGray50;
  border-radius: 4px;
  padding-left: 44px;

  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;

  background: url(assets/images/icons/dollar-sign.svg) no-repeat scroll 12px 14px;
}