@value v-blueGray400, v-blueGray900, v-brandColorPrimary, v-neutralWhite from 'theme/palette.css';
@value b-desktop from 'theme/breakpoints.css';

.wrapper {
  padding: 24px 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  color: v-brandColorPrimary;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.resultContainer {
  width: 544px;
  max-width: 100%;
  text-align: center;
  background-color: v-neutralWhite;
  padding: 16px;
  margin: 24px auto;
}

.resultHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.resultHeader img {
  max-width: max-content;
}

.resultMessage {
  padding: 24px 0 32px;
}

.headingSmall {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: v-blueGray900;
}

.paragraph {
  line-height: 21px;
  color: v-blueGray400;
}

.secondaryButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 320px;
  max-width: 100%;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: v-brandColorPrimary;

  border: 2px solid v-brandColorPrimary;
  border-radius: 32px;
  text-decoration: none;
}

@media b-desktop {
  .container {
    min-height: calc(100vh - 182px);
  }

  .subtitle {
    text-align: left;
  }

  .resultContainer {
    padding: 32px;
  }

  .resultHeader {
    flex-direction: row;
    text-align: left;
  }

  .resultMessage {
    padding-bottom: 35px;
  }

  .headingSmall {
    font-size: 24px;
    line-height: 28.8px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }
}