@value v-blueGray400, v-blueGray900, v-brandColorPrimary, v-neutralWhite from 'theme/palette.css';
@value b-desktop from 'theme/breakpoints.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 24px 16px;
}

.subtitle {
  color: v-brandColorPrimary;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.formContainer {
  width: 544px;
  max-width: 100%;
  text-align: center;
  background-color: v-neutralWhite;
  padding: 16px;
  margin: 24px auto;
}

.formHeader {
  display: flex;
  flex-direction: column;
}

.formTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 16px;
}

.headingSmall {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: v-blueGray900;
}

.paragraph {
  line-height: 21px;
  color: v-blueGray400;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
}

.inputContainer:first-of-type {
  margin-bottom: 16px;
}

.primaryButton {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 320px;
  max-width: 100%;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: v-neutralWhite;

  background-color: v-brandColorPrimary;
  border: none;
  border-radius: 32px;
}

@media b-desktop {
  .container {
    min-height: calc(100vh - 166px);
  }

  .subtitle {
    text-align: left;
  }

  .formContainer {
    padding: 32px;
  }

  .formHeader {
    flex-direction: row;
    text-align: left;
  }

  .formTitle {
    margin-top: 0;
    margin-left: 16px;
  }

  .headingSmall {
    font-size: 24px;
    line-height: 28.8px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 24px;
  }

  .formInputs {
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0 32px;
  }

  .inputContainer {
    width: 232px;
  }

  .inputContainer:first-of-type {
    margin-bottom: 0;
    margin-right: 16px;
  }
}